<footer class="forum_footer_area">
    <div class="container">
        <div class="forum_footer_inner">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <aside class="f_widget ab_wd">
                        <img src="{{"img/logo.png" | relative_url}}" alt="">
                    </aside>
                </div>

                {% for item in site.data.footer_nav.doc_footer %}
                    <div class="col-lg-3 col-sm-6">
                        <aside class="f_widget f_link_wd">
                            <ul class="navbar-nav">
                                {% for navitem in item.navList %}
                                    <li>
                                        <a href="{{navitem.url | relative_url}}">{{navitem.title}}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</footer>